<h1 class="logo">Translator</h1>
<table class="main_table">
	<td>
		
			<h3>
				Добавляем новые слова здесь
			</h3>
		
			<%= form_tag do %>
				<h4>Введите текст</h4>
				<div>
					
					<%= text_field_tag :text, params[:text], size: '30x1' %>
				</div>
				<div>
					<%= submit_tag "Перевести" ,
                                class: "btn btn-large btn-primary"%>
				</div>
			<% end %>
			<% if alert %>
				<h5>Перевод</h5>
				<p><%= alert %></p>
			<% end %>
		
	</td>
	<td>
		
			<h3>
				Заучиваем их тут
			</h3>
		
			<% @count.times do |i|%>
				<h4><%= @words_en[i] + ' - ' + @words_ru[i] %></h4>
			<% end %>
		
	</td>
</table>

